@charset "UTF-8";
/* CSS Document */

.adtit{color:#fff;text-align:center;font-weight:bold;font-size:16px;letter-spacing:16px;background:#cccccc;height:24px;line-height:24px;}
.adtit img{padding:0 30px;height:17px;}
.adname1{font-weight:bold;text-shadow:0 0 5px #FFFF00,0 0 10px #FFFF00,0 0 15px #8E8E8E,0 0 20px #8E8E8E,0 0 25px #8E8E8E,0 0 30px #8E8E8E,0 0 50px #8E8E8E,0 0 80px #8E8E8E,0 0 100px #8E8E8E,0 0 150px #8E8E8E}
ul.adlist,ul.adlist li{margin:0;padding:0;}
ul.adlist li{border-right:1px solid #ccc;border-bottom:1px solid #ccc;width:49.8%;float:left;list-style-type:none;height:26px;line-height:26px;overflow:hidden;}
ul.adlist li div{border-left:1px solid #ccc;float:left;padding:0 10px;text-align:center;}
ul.adlist li div:nth-child(1){width:6%;}
ul.adlist li div:nth-child(2){width:14%;overflow:hidden;}
ul.adlist li div img{margin-left:5px;}
ul.adlist li:hover{background:#0099cc;}
ul.adlist li:hover a:link,ul.adlist li:hover a:visited{color:#fff;}
ul.adlist li:hover div img.click{display:block;margin-top:5px;}
.click{display:none;}
.block{margin:0;padding:0;}

